@import'Style.scss'; 
@import'Variables.scss';

.page-title {
	text-align: center;
	padding: 4% 0 4% 0;     
}

.content{
  padding: 0 2%;
  text-align: justify;
  width:100%;
}
  
.schoolImage {
  margin-top: 100px;
  margin-bottom: 70px;
}

.coachImage{
  height: 300px;
}



