@import'Style.scss'; 
@import'Variables.scss';

.page-title {
	text-align: center;
	padding: 4% 0 4% 0;     
}

.content{
  padding: 0 2%;
  border:1px solid red;
}
  

.AboutUs{

  .ASTitle{
    padding:3% 0;
    border-bottom: 1px solid #ddd;

    .schoolImage {
      margin-top: 70px;
      margin-bottom: 70px;
    }

    .Image{
      width: 200px;
    }
  }
}


