@import'Style.scss'; 
@import'Variables.scss';

.mapouter{
	margin-top: 60px;
	position:relative;
	text-align:right; 
}

.gmap_canvas {
	overflow:hidden;
	background:none!important;
}

.form-title {
	text-align: center;
	padding: 4% 0 4% 0;     
}