@import'Style.scss'; 
@import'Variables.scss';

.carousel-indicators{
	 background-color:transparent;
}


.Images{

	img{
		height: 25rem;
	}
}
.container{
	padding: 0;
}
.ThreeButton{
	width: 100%;
	height: 20%;
	padding: 3% 11%;
	@extend %flexSpaceBetween;

	.btn{
		width: 30%;
		background: $DarkGreen;
		color: #fff;
		border-color: $DarkGreen;
		padding: 1% 0;
	}

	.btn:hover{
		color: #000;
		background: $Green;
		border-color: $Green;
	}
}

.ThreeInfo{

	height:20%;

	.row{
		width: 100%;
		margin: 0;

		.Info{
			width: 100%;
			height: 13rem;
			word-break:break-word;
			// overflow-x: scroll;
		}

		
	}
}

.ContactUs{
	@extend %flexSpaceBetween;
	width: 100%;
	padding: 3% 11%;
	background: $DarkGreen;
	margin-top: 2%;

	p{
		background: $DarkGreen;
		color: #fff;
		margin: 0;
	}
	.ContactBtn{
		width: 25%;
		background: $DarkGreen;
		border-color: #fff;
		color: #fff;

	}
	.ContactBtn:hover{
		color: #000;
		background: $Green;
		border-color: $Green;
	}
}

.ThreeCoach{
	padding:3% 0;
	background:$Honeydew;

	.row{

		background:$Honeydew;

		.col-xs-12, .col-sm-4{
			background:$Honeydew;
		}

		.card{
			img{
				height:17rem;
			}

			.card-body{
				padding: 0;
				.card-text{
					height: 8rem;
					padding:2% 0 0 2%;;
				}
				.btn-link{
					width: 100%;
					background:$DarkGreen;
					border-color:$DarkGreen;
					.nav-link{
						color:#fff;
					}
					.nav-link:hover{
						text-decoration: none;
						// color:#fff;
					}
				}
			}
		}
	}
}

