@import'Style.scss'; 
@import'Variables.scss';

.OR-Header{
	// margin: 0 auto;
	padding:3% 0 1% 2%; 
}

.nav-pills .nav-link.active{
	background-color:$DarkGreen;
}

.TabInfo{
	margin-bottom: 5%;
	background:$Honeydew;

	.nav-pills{
		border:1px solid $DarkGreen;
		border-radius: .25rem;
	}
}

.nav-item{
	a{
		color:$DarkGreen;
	}
}

.tab-content{
	border:1px solid $DarkGreen;
	border-radius: .25rem;
	width: 100%;
	height: 30rem;
	padding:0 2%;
}