@import'Style.scss'; 
@import'Variables.scss';

.nav-part{
	height: 40%;
	border-bottom:1px solid #ddd;
	

	.top-nav-bar{
		height: 10%;
		width: 100%;
		background:$DarkGreen;
	
		.language{
			background:$DarkGreen;
			display: flex;
			justify-content: flex-end;
			padding: 0;
			.en-lang, 
			.ch-lang{
				background:$DarkGreen;
				color: #fff;
				display: inline-block;
				cursor: pointer;
			}
			.ch-lang{
				margin-left: 20px;
			}
			.en-lang:hover,
			.ch-lang:hover{
				color: $Green;
			}
		}		
	}


	.nav-bar{
		height: 20%;

		.brand{
			width: 30%;
			display:block;
			margin: 0;
			display:flex;

			@media (min-width:426px) and (max-width: 768px){
				width:80%;
			}

			@media (max-width:426px) {
				width:80%;
			}

			.logo-image{
				float:left;
			}

			.school-name{
				align-self: center;
				margin: 0;
				display:inline-block;
				color: $DarkGreen;
				overflow-wrap: break-word;
				word-wrap:break-word;
				white-space: pre-line;
				width:200px;

				@media (max-width:426px) {
					width:50%;
				}
			}
		}
		.menu-nav{
			width: 70%x;
			padding: 0;
		}
		.online-resource a{
			padding-right: 0;
		}

		
	}
	.navbar-light .navbar-nav .nav-link {
		color: #000!important;
	}
	.navbar-light .navbar-nav .nav-link:focus, 
	.navbar-light .navbar-nav .nav-link:hover{
		color: $DarkGreen!important;
	}
	@media (min-width:768px) and (max-width: 1024px){
		.brand{
			font-size: 1.2rem;
		}
		.navbar-light .navbar-nav .nav-link {
			font-size:14px!important;
			padding: 5px;
		}
	}

}

